.projekt:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.projekt-link {
  transition: color 0.3s ease;
}

.projekt-link:hover {
  color: #0056b3;
}

.projekt-beschreibung {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
